/* --------------------------------------TOP LINE--------------------------------------------------- */

#top_line{ /* BARRA ROSA NO TOPO */

    width: 100%;
    height: 31px;
    background-color: var(--cor-primaria-1);
    z-index: 4;
    margin: auto;
    position: fixed;
   
}



#top_line nav li p {
    
    margin-top: 5px; /* Ajuste no paragrafo */
   
}

#top_line img { /* INSTA ICON */

    width: 31px;
    height: auto;
    display: flex;
    
    
}

#top_list { /* Conteúdo dentro de barra rosa img e num cell */
    list-style: none;
    width: 100%;
    margin-top: -1px;
    display: flex; 
    gap: 15px;
    justify-content: center; /* IMPORTANTE: isso garante que textos não saiam do lugar quando diminuir o zoom!!! */
    margin-left: 400px;
    
    
        
}





/* -----------------------------------------HEADER FIXA ON SCROLL-------------------------------------- */


marquee {
    z-index: 4;
    font: bolder 9pt verdana;
    background-color: var(--cor-primaria-2);
    color: white;
    margin-top: -250px;
} 


header { /* Cabeçalho Faixada */
    width: 100%;
    height: 20px;
    margin: auto;
    margin-top: 1%;
    background-color: var(--cor-base);
    padding: 30px; /* Ajusta posição das palavras em header, centralizando tambem a barra header quando usar scroll */ 
    position: sticky; /* Fixa o elemento no topo da viewport quando chega lá, ao rolar o scroll continuará seguindo */
    top: 0;
    z-index: 1000;

}

marquee span {
    padding-left: 300px;
}


#nav_bar {    /* NAV */
    width: 100%;
    display: flex; 
    justify-content: space-between;
    
}

#nav_list{
    list-style: none;
    margin: auto;
    gap: 120px;
    margin-top: -22px;
    display: flex; 
}

.nav-item a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.925);
    font-weight: 600;
}

#logo { 
    
    display: flex;
    margin-left: -400px;
    
}

#logo img { /* IMAGEM DE LOGO CANTINHO LICE */
    width: 99px;
    height: auto;
    display: flex;
    position: absolute;
    margin-top: -40px;
    
    
}



/* --------------------------------------------------------------------------------------------- */

@media (max-width: 800px) {
    header {
        margin-top: 5%;
        width: 380px;
    }

    .nav-item {
        display: none;
    }

    #logo {
        margin-left: 50px;
    }

    #top_line {
        width: 380px;
    }

    #top_list {
        margin-left: 50px;
    }

}