
h2 {
    text-align: center;
    color: var(--cor-secundaria-1);
    
   
}

/* -------------------- APRESENTAÇÃO / INICIO    --------------------------- */

#inicio { /* CONTAINER */
   
    width: 800px;
    height: 200px;  
    margin-left: 15%;
    margin-top: 2%;
}

#inicio p { /* texto de apresentação */
    text-indent: 60px;
    text-align: justify;
    margin-left: 1%;
    display: flex;
    margin-top: -5px;
    padding-left: 6%;
    
}

#inicio h2 {
    margin-top: -200px;
    
}


#lice_kid { /* LICE KID IMG */
    width: 130px;
    height: 130px;
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
    margin-top: 80px;
    
}

/* ---------------------------------- ACESSORIOS -------------------------------------- */

#acessorios{   
    width: 1170px;
    height: 600px;

}



/* Imagem  */
.modelo {
    width: 150px;
    height: auto;
    padding-top: 50px;
    margin-left: 6%;
    cursor: pointer;
    transition: transform 0.3s ease !important; /* Suaviza a transição e força usando "important" */
}

.modelo:hover {
    transform: scale(1.1) !important;
}

/* Janela de IMG */
.expand {
    display: none; /* Oculto por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

/* Imagem ampliada  */
.expand img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Botão de fechar */
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
}